.sidebar {
  flex: 1 1 0;
  max-width: 200px;
  padding: 2rem 1rem;
  background-color: var(--color-secondary-bg);
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  justify-content: center;
  cursor: pointer;
}

.logo h2 {
  padding: 0 1rem;
  color: var(--color-icon);
}

.sidenav-hamburger-not-visible {
  display: none;
}

.sidenav-hamburger-visible {
  color: var(--color-icon);
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.icon {
  color: var(--color-icon);
}

.menu {
  margin: 0 -1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.nav-item {
  display: block;
  padding: 1rem;
  color: var(--color-icon);
  transition: 0.2s linear;
  display: flex;
  font-weight: 500;
  border-left: 3px solid transparent;
  cursor: pointer;
}

.nav-item:hover,
.nav-item.active {
  color: #f96777;
  border-left: 3px solid #f96777;
  background-color: #34373c;
}

.nav-item-icon {
  width: 30px;
  margin: 0 1rem;
}

.navbar-user-profile-not-visible {
  display: none;
}

.navbar-user-profile-visible {
  display: inline;
  color: gray;
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.nav-hambuger-open {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #34373c;
  height: 100vh;
}
li:nth-child(8) {
  margin-top: 3rem;
}

li:nth-child(1) {
  color: #f96777;
  border-left: 3px solid #f96777;
  background-color: #34373c;
}

@media only screen and (max-width: 1028px) {
  .sidebar {
    display: none;
  }

  .logo {
    display: none;
  }
}
